.git
.local
.next
node_modules
generated
public/legal
src/generated
geo
coverage
playwright-report
test-results
public/script.js
public/recorder.js
.env
.env.*
*.log
.DS_Store
.idea
.vscode
docker-compose.yml
